body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  font-weight: bold;
}

.root-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}